input{
    width: 200px;
}
body{
    background-color: lightpink;
}
#para_1{
    margin-left: 10%;
}
#para_2{
    margin-left: 75%;
    margin-bottom: 100%;
    margin-top: -23.8%;
}
#show_para_2{
    margin-bottom: 80%;
    margin-top: -90%;
}